Setup/*/Output
Setup/*/gen
build/__pycache__
build/env.json
build/venv
Setup/*/Src/%19WJ/%1F%5DV%27/
Setup/*/Src/%19WJ/%0E%5C%5E%22%06S/*
!Setup/*/Src/%19WJ/%0E%5C%5E%22%06S/%1DSU%24%1AW8M%40%24%5CW3
